name: Tests

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "backend/**"
      - "frontend/**"
  push:
    branches:
      - develop

jobs:
  pytest:
    name: Python Tests
    runs-on: self-hosted
    container: node:25

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_DB: test
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres


    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Install Python
        run: |
          apt-get update && apt-get install -y python3 python3-pip

      - name: Install system dependencies
        run: |
          apt-get install -y jq build-essential

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          pip install -r requirements.txt

      - name: Generate JWT secret
        run: |
          echo "JWT_SECRET=$(openssl rand -hex 32)" >> $GITHUB_ENV

      - name: Initialize database
        working-directory: ./backend/database
        run: |
          alembic stamp base
          alembic upgrade head

      - name: Run pytest
        working-directory: ./backend
        run: |
          source venv/bin/activate
          pytest --cov=app --cov-report=html:coverage --cov-report=term

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backend-coverage
          path: backend/coverage/
          retention-days: 7

  vitest:
    name: Frontend Tests
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install dependencies
        working-directory: ./frontend
        run: |
          pnpm install --workspace-root

      - name: Run vitest
        working-directory: ./frontend
        run: |
          pnpm run test:coverage

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          path: frontend/coverage/
          retention-days: 7
