name: Tests

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "backend/**"
      - "frontend/**"
  push:
    branches:
      - develop

jobs:
  pytest:
    name: Python Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      minio:
        image: minio/minio:RELEASE.2025-09-07T16-13-09Z
        env:
          MINIO_ROOT_USER: test_access_key
          MINIO_ROOT_PASSWORD: test_secret_key
          MINIO_REGION_NAME: us-east-1
          S3_BUCKET: test_bucket
        ports:
          - 9000:9000

    env:
      POSTGRES_DB: test
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_PORT: 5432
      POSTGRES_HOST: localhost
      AWS_ACCESS_KEY: test_access_key
      AWS_SECRET_KEY: test_secret_key
      AWS_REGION: us-east-1
      AWS_ENDPOINT_URL: http://localhost
      AWS_ENDPOINT_PORT: 9000
      S3_BUCKET: test_bucket


    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq build-essential

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          python -m venv venv
          . venv/bin/activate
          pip install -r requirements.txt

      - name: Generate JWT secret
        run: |
          echo "JWT_SECRET=$(openssl rand -hex 32)" >> $GITHUB_ENV

      - name: Initialize database and s3
        working-directory: ./backend/database
        run: |
          . ../venv/bin/activate
          alembic stamp base
          alembic upgrade head
          docker run -it --entrypoint=/bin/sh minio/mc mc alias set myminio http://minio:9000 test_access_key test_secret_key && mc mb myminio/test_bucket || true

      - name: Run pytest
        working-directory: ./backend
        run: |
          . venv/bin/activate
          pytest --cov=app --cov-report=html:coverage --cov-report=term

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backend-coverage
          path: backend/coverage/
          retention-days: 7

  vitest:
    name: Frontend Tests
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install dependencies
        working-directory: ./frontend
        run: |
          pnpm install --workspace-root

      - name: Run vitest
        working-directory: ./frontend
        run: |
          pnpm run test:coverage

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          path: frontend/coverage/
          retention-days: 7
