name: Validate

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "backend/app/models/**"
      - "backend/database/**"
  push:
    branches:
      - develop
    paths:
      - "backend/app/models/**"
      - "backend/database/**"

jobs:
  migrations:
    name: Validate Migrations
    runs-on: self-hosted
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_DB: test
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq build-essential

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          pip install -r requirements.txt

      - name: Validate migrations
        working-directory: ./backend/database
        run: |
          alembic stamp base
          alembic upgrade head
          alembic revision --autogenerate -m "ci" --rev-id=generated
          REVISION="versions/generated_ci.py"
          if grep -q "op\." "$REVISION"; then
            echo "Migration scripts are not in sync with the table models."
            cat "$REVISION"
            exit 1
          else
            echo "Migration files validated successfully"
            exit 0
          fi

  zod-types:
    name: Validate Zod Types
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq build-essential

      - name: Install Python dependencies
        working-directory: ./backend
        run: |
          pip install -r requirements.txt

      - name: Install Node dependencies
        working-directory: ./frontend
        run: |
          pnpm install

      - name: Generate types
        working-directory: ./frontend
        run: |
          pnpm run typegen

      - name: Check for differences
        run: |
          git add .
          git status
          if git status | grep -q ".*api.ts"; then
            echo "API types were not generated correctly, run pydantic2ts and ts-to-zod locally and commit the generated schemas and types."
            exit 1
          else
            echo "Generated API schemas and types validated successfully"
          fi
